@import url('https://fonts.googleapis.com/css?family=Muli');

body {
  background-color: #e9e9e9;
  font-family: 'Muli', sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
}

.main-container {
  padding: 8px;
}

.avatar {
  float: left;
  margin: 5px;
}

.avatar img {
  width: 80px;
}

.details {
  display: inline;
}

.
